{% extends "Admin/base.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1 class="page-title">Bienvenido!</h1>
        <div class="actions"></div>
    </div>
    <div class="page-content"></div>

{% endblock %}
