.sidebar{
    z-index: 1400;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    top: 66px;
    bottom: 0;
    width: 260px;
    background: #263238;
    color: rgba(163,175,183,.9);
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
    font-size: 14px;    
    transform: translateX(0);
    transition: all 500ms ease-in-out;
    z-index: 1052;
    overflow: hidden;
    overflow-y: auto;
}

.sidebar ul.sidemenu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
}

.sidebar ul.sidemenu li{
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: stretch;
    justify-content: stretch;
}

.sidebar ul.sidemenu > li{
    white-space: nowrap;
    line-height: 34px;
    position: relative;
}

.sidebar ul.sidemenu > li.category{
    font-size: 15px;
    padding: 0 24px;
    color: #76838f;
    line-height: 38px;
    text-transform: uppercase;
    margin-top: 20px;
}

.sidebar ul.sidemenu li a{
    color: rgba(163,175,183,.9);
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}

.sidebar ul.sidemenu > li > a{
    padding: 0 30px;
    line-height: 38px;
    font-size: 14px;
}

.sidebar ul.sidemenu li:hover > a {
    color: rgba(255,255,255,.8);
    background-color: rgba(255,255,255,.02);
}

.sidebar ul.sidemenu li.active {
    color: #fff;
    background: rgba(0,0,0,.06);
}

.sidebar ul.sidemenu > li > a > i{
    margin-right: 14px;
    font-size: 18px;
}

.sidebar footer{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    align-items: center;
    justify-content: stretch;
}

.sidebar footer a {
    display: flex;
    height: 76px;
    padding: 26px 0;
    color: #76838f;
    font-size: 16px;
    text-align: center;
    background-color: #21292e;
    align-content: center;
    justify-content: center;
    flex: 1 0 auto;
}

.sidebar footer a:hover {
    background-color: #1e2427;
}

header > .scrim {
    display: none;
    z-index: 1051;
    background: transparent;
    position: fixed;
    top: 66px;
    left: 0;
    bottom: 0;
    right: 0
}

@media (min-width: 576px) and (max-width: 991px) {
    .sidebar{
        width: 90px;
    }
    .sidebar .sidemenu > .category{
        display: none;
    }
    .sidebar .sidemenu > li {
        line-height: 22px;
        font-size: 14px;
    }
    .sidebar ul.sidemenu > li > a {
        line-height: 60px;
        height: 60px;
        padding: 0;
    }

    .sidebar ul.sidemenu > li > a > i ,
    .sidebar ul.sidemenu > li > a > span {
        -webkit-transition: visibility .25s,opacity .25s;
        -o-transition: visibility .25s,opacity .25s;
        transition: visibility .25s,opacity .25s;
        position: absolute;
        top: 0;
        left: 0;
        width: 90px;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        line-height: 60px;
    }
    
    .sidebar ul.sidemenu > li > a > i{
        font-size: 24px;
        margin-right: 0;
    }

    .sidebar ul.sidemenu > li:not(:hover) > a > i {
        visibility: visible;
        opacity: 1;
    }

    .sidebar ul.sidemenu > li:hover > a > span {
        visibility: visible;
        opacity: 1;
    }

}

@media (max-width: 575px) {
    header:not(.open) .sidebar {
        transform: translateX(-100%)
    }
    header.open  > .scrim{
        display: block;
    }
}