.navbar .brand {
    width: 240px;
    color: #fff;
    background: #62A8EA;
    transition: width 500ms ease-in-out;
    line-height: 46px;
}
.navbar .brand:hover {
    color: #fafafa;
}

.navbar .brand i {
    display: none;
}


@media (max-width: 991px) {
    header:not(.open) .navbar .brand {
        cursor: pointer;
        width: 46px;
        height: 46px;
        font-size: 22px;
    }

    header:not(.open) .navbar .brand span {
        display: none;
    }

    header:not(.open) .navbar .brand i {
        display: block;
    }

}