.page{
    display: flex;
    padding: 46px 0 0 240px;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    min-height: 100vh;
    transition: all 500ms ease-in-out;
}

.page .content{
    padding: 30px;
    flex: 1 0 auto;
    flex-direction: row;
    align-items: flex-start;
}

.page footer{
    padding: 10px 30px;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    border-top: 1px solid #e4eaec;
    height: 44px;
}
@media (max-width: 991px) {

    .page {
        padding-left: 0;
    }
}