<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#62a8ea" />
    <meta name="author" content="Matías Pierobón Marcos" />
    <meta name="keywords" content="Hospital Ricardo Gutiérrez" />
    <meta name="description" content="{{ app.site.description }}" />
    <meta name="robots" content="index,follow" />
    <meta property="og:url" content="https://grupo35.proyecto2017.linti.unlp.edu.ar/" />
    <meta property="og:title" content="Hospital Dr. Ricardo Gutiérrez" />
    <meta property="og:site_name" content="Hospital Gutiérrez" />
    <meta property="og:description" content="Plataforma web para el Hospital Gutiérrez" />
    <meta property="og:image" content="https://grupo35.proyecto2017.linti.unlp.edu.ar/mockups/img/icon.png" />

    <title>{{ app.site.title }}</title>

    <link rel="manifest" href="/www/manifest.json" />
    <link rel="shortcut icon" href="/www/favicon.ico" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,600" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/www/css/main.css" />
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>