.btn {
    position: relative;
    display: inline-block;
    height: 28px;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    line-height: 1.15;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    touch-action: manipulation;
    border: 1px solid transparent;
    padding: 0 15px;
    border-radius: 4px;
    user-select: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: rgba(0, 0, 0, 0.65);
    background-image: none;
    background-color: #fff;
    border-color: #d9d9d9;
}

.btn:focus,
.btn:hover {
    color: #62a8ea;
    background-color: #fff;
    border-color: #62a8ea;
}

.btn.primary{
    color: #fff;
    background-color: #62a8ea;
    border-color: #62a8ea;
}
.btn.btn.primary:hover, .btn.btn.primary:focus{
    background-color: #358fe4;
    border-color: #2c8ae3;
}

.btn[disabled],
.btn:disabled {
    opacity: 0.65;
    pointer-events: none;
}
