.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 -8px;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 8px;
}

.col.xs-1 {
    flex: 0 0 8.333334%;
    max-width: 8.333334%;
}

.col.xs-2 {
    flex: 0 0 16.6666667%;
    max-width: 16.6666667%;
}

.col.xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col.xs-4 {
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
}

.col.xs-5 {
    flex: 0 0 41.6666667%;
    max-width: 41.6666667%;
}

.col.xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col.xs-7 {
    flex: 0 0 58.3333333%;
    max-width: 58.3333333%;
}

.col.xs-8 {
    flex: 0 0 66.6666667%;
    max-width: 66.6666667%;
}

.col.xs-9 {
    flex: 0 0 75%;
    max-width: 100%;
}

.col.xs-10 {
    flex: 0 0 83.3333333%;
    max-width: 83.3333333%;
}

.col.xs-11 {
    flex: 0 0 91.6666667%;
    max-width: 91.6666667%;
}

.col.xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
    .col.sm-1 {
        flex: 0 0 8.333334%;
        max-width: 8.333334%;
    }
    .col.sm-2 {
        flex: 0 0 16.6666667%;
        max-width: 16.6666667%;
    }
    .col.sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col.sm-4 {
        flex: 0 0 33.3333333%;
        max-width: 33.3333333%;
    }
    .col.sm-5 {
        flex: 0 0 41.6666667%;
        max-width: 41.6666667%;
    }
    .col.sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col.sm-7 {
        flex: 0 0 58.3333333%;
        max-width: 58.3333333%;
    }
    .col.sm-8 {
        flex: 0 0 66.6666667%;
        max-width: 66.6666667%;
    }
    .col.sm-9 {
        flex: 0 0 75%;
        max-width: 100%;
    }
    .col.sm-10 {
        flex: 0 0 83.3333333%;
        max-width: 83.3333333%;
    }
    .col.sm-11 {
        flex: 0 0 91.6666667%;
        max-width: 91.6666667%;
    }
    .col.sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
    .col.md-1 {
        flex: 0 0 8.333334%;
        max-width: 8.333334%;
    }
    .col.md-2 {
        flex: 0 0 16.6666667%;
        max-width: 16.6666667%;
    }
    .col.md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col.md-4 {
        flex: 0 0 33.3333333%;
        max-width: 33.3333333%;
    }
    .col.md-5 {
        flex: 0 0 41.6666667%;
        max-width: 41.6666667%;
    }
    .col.md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col.md-7 {
        flex: 0 0 58.3333333%;
        max-width: 58.3333333%;
    }
    .col.md-8 {
        flex: 0 0 66.6666667%;
        max-width: 66.6666667%;
    }
    .col.md-9 {
        flex: 0 0 75%;
        max-width: 100%;
    }
    .col.md-10 {
        flex: 0 0 83.3333333%;
        max-width: 83.3333333%;
    }
    .col.md-11 {
        flex: 0 0 91.6666667%;
        max-width: 91.6666667%;
    }
    .col.md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
    .col.lg-1 {
        flex: 0 0 8.333334%;
        max-width: 8.333334%;
    }
    .col.lg-2 {
        flex: 0 0 16.6666667%;
        max-width: 16.6666667%;
    }
    .col.lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col.lg-4 {
        flex: 0 0 33.3333333%;
        max-width: 33.3333333%;
    }
    .col.lg-5 {
        flex: 0 0 41.6666667%;
        max-width: 41.6666667%;
    }
    .col.lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col.lg-7 {
        flex: 0 0 58.3333333%;
        max-width: 58.3333333%;
    }
    .col.lg-8 {
        flex: 0 0 66.6666667%;
        max-width: 66.6666667%;
    }
    .col.lg-9 {
        flex: 0 0 75%;
        max-width: 100%;
    }
    .col.lg-10 {
        flex: 0 0 83.3333333%;
        max-width: 83.3333333%;
    }
    .col.lg-11 {
        flex: 0 0 91.6666667%;
        max-width: 91.6666667%;
    }
    .col.lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
    .col.xl-1 {
        flex: 0 0 8.333334%;
        max-width: 8.333334%;
    }
    .col.xl-2 {
        flex: 0 0 16.6666667%;
        max-width: 16.6666667%;
    }
    .col.xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col.xl-4 {
        flex: 0 0 33.3333333%;
        max-width: 33.3333333%;
    }
    .col.xl-5 {
        flex: 0 0 41.6666667%;
        max-width: 41.6666667%;
    }
    .col.xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col.xl-7 {
        flex: 0 0 58.3333333%;
        max-width: 58.3333333%;
    }
    .col.xl-8 {
        flex: 0 0 66.6666667%;
        max-width: 66.6666667%;
    }
    .col.xl-9 {
        flex: 0 0 75%;
        max-width: 100%;
    }
    .col.xl-10 {
        flex: 0 0 83.3333333%;
        max-width: 83.3333333%;
    }
    .col.xl-11 {
        flex: 0 0 91.6666667%;
        max-width: 91.6666667%;
    }
    .col.xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}