.text-center { text-align: center!important; }

.pull-right { float: right!important; }

.pull-left { float: left!important; }

.clearfix { clear: both!important; }

.full-width{ width: 100%!important; }

.fixed { position: fixed!important; }