body{
    overflow-x: hidden;
}

body > section {
    padding: 100px 0;
    background-color: #fafafa;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

body > section:nth-child(odd) {
    z-index: 4;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.75);
    box-shadow: 0 0 15px rgba(0,0,0,.75);
}

body > section .hero{
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    display: block;
}

body > section .hero h1{
    font-weight: lighter;
    font-size: 36px;
    color: #3e3e3e;
}

.bg-section{
    position: relative;
    background: transparent;
}

.full-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bg-section .background{
    width: 100%;
    height: inherit;
    overflow: hidden;
    display: block;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}
.bg-section .background video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-section .background.pattern:after{
    content: "";
    background-image: url('../img/grid.png');
    background-attachment: fixed;
    background-origin: center center;
    background-repeat: repeat;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bg-section .caption.solid{
    padding: 20px;
    background: rgba(0,0,0,.3);
    border: 1px solid rgba(0,0,0,.5);
    text-shadow: 0 0 5px rgba(0,0,0,.4);
    -webkit-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.bg-section .caption h2{
    font-size: 60px;
    line-height: 80px;
    letter-spacing: -1px;
    display: block;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.bg-section .caption p{
    color: #fff;
    font-size: 24px;
    line-height: 38px;
    font-weight: 300;
    letter-spacing: 0.5px;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 27px;
    margin: 0px;
}

#video{
    min-height: 720px;
    padding-top: 300px;
    height: initial;
}


.tech-list .item {
    text-align: center;
    margin: 15px 0 25px;
    font-size: 15px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.tech-list .item > h3 {
    color: #666;
    margin: 15px auto;
    font-weight: 400;
    font-size: 20px;
}
.tech-list .item > i {
    color: #019bf0;
    background-color: #f9f9f9;
    border-radius: 100%;
    display: inline-block;
    font-size: 42px;
    height: 90px;
    line-height: 90px;
    max-width: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 90px;
    word-spacing: 1px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-collapse: collapse;
}

.tech-list .item  > i:after {
    content: "";
    border: 1px solid rgba(0,0,0,0.05);
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    border-radius: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.tech-list  .item:hover > i {
    background-color: #019bf0;
    color: #fff;
}

.tech-list .item:hover > i:after {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    border-color: #019bf0;
}

#quote{
    background-color: transparent;
    background-image: url('../img/focus.jpg'); 
}

.quote-box{
    position: relative;
    font-weight: 200;
}

.quote-box i{
    position: absolute;
    left: 50%;
    color: #333;
    transform: translate3d(-50%,-50%,0);
    z-index: 5;
    border-radius: 100%;
    padding: 20px;
    background: #fff;
}

.quote-box blockquote{
    background: #fff none repeat scroll 0 0;
    border: medium none;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    margin: 0;
    padding: 50px;
    text-align: center;
    position: relative;
}

.quote-box blockquote:after{
    content: "";
    border-color: #fff transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 8px;
    bottom: -16px;
    display: block;
    height: 0;
    left: 50%;
    margin-left: -4px;
    position: absolute;
    right: 0;
    width: 0;
}
.quote-box .from{
    margin: 0;
    margin-top: 20px;
    position: relative;
    text-align: center;
    font-size: 24px;
    color: #fcfcfc;
    text-shadow: 0 0 5px rgba(0,0,0,.4);
}

body > footer{
    padding: 10px 30px;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    border-top: 1px solid #e4eaec;
    min-height: 44px;
}

@media (max-width: 575px) {

    body > footer{
        flex-direction: column;
    }
}