html, body{
    min-height: 100vh;
    min-width: 100vw;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
    color: #fafafa;
    font-weight: 300;
    font-size: 14px;
    background: #62a8ea;
    background-image: -webkit-linear-gradient(top,#62a8ea 0,#3583ca 100%);
    background-image: -o-linear-gradient(top,#62a8ea 0,#3583ca 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#62a8ea),to(#3583ca));
    background-image: linear-gradient(to bottom,#62a8ea 0,#3583ca 100%);
    background-repeat: repeat-x;
}

.wrapper{
    padding: 30px;
    display: inline-block;
    vertical-align: middle;
}

.login{
    padding: 50px 40px 40px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin-bottom: 45px;
    background: #fff;
    color: #76838f;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0,0,0,.25);
}

.login form{
    margin: 45px 0 30px;
}
.login .brand{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login .brand h2 {
    margin: 8px 0 0;
    font-size: 20px;
    font-weight: 300;
}