@import "_commons.css";
@import "_navbar.css";
@import "_forms.css";
@import "_buttons.css";
@import "_grid.css";
@import "_icons.css";
@import "_utils.css";

*, ::before, ::after{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(0,0,0,.65);;
    background-color: #fafafa;
}